@import '../_variable';
// ヘッターナビゲーションのモジュールスタイル
.l-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: rem(60);
  color: $c_lightness;
  background: $c_darkness;

  .l-title {
    margin: 0 rem(16);
  }
}
